<html>
    <head>
        <title>New Transaction</title>
        <script
            src="/static/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
        <script type="text/javascript">
            var wallets = [];
            $(()=>{
                var wallet_input = $('#s_wallet'), recipient_input = $('#recipient'), activeInput = wallet_input;
                activeInput.focus();

                $('input').on('focus',(e)=>{
                    activeInput = $(e.target);
                    console.log("This input:",this);
                    console.log("Id",activeInput.attr("id"));
                });

                $("#wallets").on("click",".wallet",function(e){
                    console.log("Getting name");
                    let name = e.target.getAttribute("fname");
                    name = parseInt(name);
                    console.log("Updating wallet:",name);
                    update_wallet(name);
                });
                
                function update_wallet(name){
                    let w = wallets[name];
                    if(activeInput.is(wallet_input)){
                        let str = JSON.stringify(w);
                        $('#s_wallet').val(str);
                    }else
                    if(activeInput.is(recipient_input)){
                        $('#recipient').val(w['address']);
                    }
                }
                $('#download_new_wallet').on('click', (e)=>{
                    $.ajax({
                        type: 'GET',
                        url: '/new_wallet',
                        success: (r) => {
                            console.log("Wallet recived!");
                            $('#download_a').attr("href","data:application/octet-stream;charset=utf-8;base64,"+btoa(JSON.stringify(r['wallet'])));
                            $("#download_a")[0].click();
                        },
                        error: (e)=>{
                            console.log("Error:",e);
                        },
                    });
                });
                $('#upload_btn').on('click',()=>{
                    let file = $('#wallet_file').prop('files')[0];
                    let fr = new FileReader();
                    fr.readAsDataURL(file);
                    fr.onload = () => {
                        let enc = fr.result.split(",")[1];
                        let w = atob(enc);
                        w = JSON.parse(w);
                        let i = wallets.push(w)-1;
                        let s = `<div class="wallet" fname='${i}'>Nº:&nbsp;${i}&nbsp;&nbsp;&nbsp;Wallet:&nbsp;${w['address']}</div>`;
                        $('#wallets').html($('#wallets').html()+s);
                    };
                    console.log(file);
                });
            });
            function sendPost(wallet, recipient, amount){
                console.log("Making request");
                $("#response").html("Waiting for response...");
                let req = {
                    wallet: JSON.parse(wallet),
                    recipient: recipient,
                    amount: parseFloat(amount)*1.0,
                }
                $.ajax({
                    type: "POST",
                    url: "/transactions/new",
                    data: JSON.stringify(req),
                    success: function(r){
                        console.log(r);
                        $("#response").html(JSON.stringify(r));
                    },
                    error: function(request, status, error){
                        console.log("Error:",error);
                        $('#response').html(request.responseText);
                    },
                });
                console.log("Request done!");
            }
        </script>
        <style>
            input[name="wallet"]{
                width:100%;
            }
            .wallet{
                background-color: lightblue;
                cursor: pointer;
                padding: 5px;
            }
            .wallet:hover{
                background-color: rgb(112, 145, 156);
            }
        </style>
    </head>
    <body>
        <div id="wallets">
        </div>
        <a style="display:none;"download="wallet.dat"id="download_a">D</a>
        <br><br>
        Upload a wallet:
        <br>
        <input type="file" id="wallet_file">
        <button id="upload_btn">Upload</button>
        <br><br>
        <button id="download_new_wallet">Download new wallet</button>
        <form>
            Wallet:
            <br>
            <input type="text" name="wallet" id="s_wallet" required autofocus>
            <br>
            Recipient:
            <br>
            <input name="recipient" id='recipient' type="text" required>
            <br>
            Amount:
            <br>
            <input type="text" name="amount" value="0.5" required>
            <br>
            <input type="button" name="sbutton" value="Make transaction" onclick="sendPost(this.form.wallet.value,this.form.recipient.value,this.form.amount.value)">
        </form>
        <div id="response">
            Waiting for submission...
        </div>
    </body>
</html>